{% extends 'layout.twig' %}

{% block content  %}

<!-- хлебные крошки -->
<div class="breadcrumbs">
  <a href="{{ path('show_main')}}">Магазин</a>
  <p>{{ category.title }}</p>
</div>
<div class="row clearfix">

  <!-- элементы каталога -->

  {% for product in category_products %}
  <div class="item-block column column4">
    <a href="{{ path('show_product', {id: product['id']}) }}" class="item">
      <img src="../../img/item.jpeg" alt="уточка">
    </a>
    <a href="" class="btn-basket">В Корзину</a>
  </div>
  {% endfor%}

{% endblock content %}

{% block catalog  %}
{% for category in categories %}
<li>
  <a href="{{ path('show_catalog', {id: category['id']}) }}" class="item">
    {{ category['title'] }}
  </a>
</li>
{% endfor%}
{% endblock catalog %}
